<ion-view view-title="穿搭">
	<style type="text/css">
		.bar-header{
			height: 0.7rem;
			background: white !important;
			border-bottom: 1px solid #f6f6f6;
		}
		.title{
			line-height: 0.7rem !important;
			font-size: 0.28rem !important;
		}
		.outfit_title{
			color: #9c9c9c;
			font-size: 0.18rem;
			padding:0.7rem 0 0.1rem 0.1rem ;
		}
	</style>
	<!--outfit 穿搭-->
  <ion-content >
    <div class="outfit_wrap">
    	<div class="outfit_title">型男穿搭推荐</div>
    	<div class="row">
    		<div class="col-50">
    			<img width="100%" height="100%" src="img/cdxn1.png"/>
    		</div>
    		<div class="col-25">
    			<div class="row" style="padding-top: 0;">
    				<img width="100%" height="auto" src="img/cdxn2.png"/>
    			</div>
    			<div class="row" style="padding-bottom: 0;">
    				<img width="100%" height="auto" src="img/cdxn2.png"/>
    			</div>
    		</div>
    		<div class="col-25">
    			<img width="100%" height="100%" src="img/cdxn3.png"/>
    		</div>
    	</div>
    </div>
    
    <div class="outfit_wrap">
    	<div class="outfit_title">型男穿搭推荐</div>
    	<div class="row">
    		<div class="col-50">
    			<img width="100%" height="100%" src="img/cdxn1.png"/>
    		</div>
    		<div class="col-25">
    			<div class="row" style="padding-top: 0;">
    				<img width="100%" height="auto" src="img/cdxn2.png"/>
    			</div>
    			<div class="row" style="padding-bottom: 0;">
    				<img width="100%" height="auto" src="img/cdxn2.png"/>
    			</div>
    		</div>
    		<div class="col-25">
    			<img width="100%" height="100%" src="img/cdxn3.png"/>
    		</div>
    	</div>
    </div>
    
  </ion-content>
</ion-view>
